<div id="contactUs">
  <h1 class="text-center">Contact Us</h1>
  <div class="d-flex align-items-center">
    <h3 class="pr-3">You have any query ? </h3>
  </div>

  <div class="contactForm col col-md-12 d-flex my-3 pl-0">
    <div class="social-contact col col-md-6">
    <h6>You Can communicate with social network!!</h6>
    <div class="social-network">
      <img class="social-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/1200px-Instagram_logo_2016.svg.png" alt="">
      <img class="social-img ml-3" src="https://cdn-icons-png.flaticon.com/512/124/124010.png" alt="">
      <img class="social-img ml-3" src="https://play-lh.googleusercontent.com/wIf3HtczQDjHzHuu7vezhqNs0zXAG85F7VmP7nhsTxO3OHegrVXlqIh_DWBYi86FTIGk" alt="">
    </div>
    </div>
    <div class="col-md-6">
      <div class="mb-3">
        <label for="email" class="form-label">Please Email address</label>
        <input type="email" class="form-control" id="email" placeholder="yourmail@example.com">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Please Enter Your Concern</label>
        <textarea class="form-control" id="desc" rows="3" placeholder="Your Consern"></textarea>
      </div>
      <button class="btn btn-primary">Submit</button>
    </div>
  </div>
</div>
