<div class="container">
  <div class="col col-md-12 py-5">
    <h1>What is Angular ? </h1>
    <p>Published on 01/05/2021</p>
    <p class="paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci architecto amet, delectus, minus ad maxime sit
      facilis quidem id beatae nemo voluptates, quibusdam quod? Quasi aspernatur saepe, cupiditate tempore vero soluta
      esse. Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis nulla nihil odit sequi sunt vero
      molestiae eius necessitatibus? Quia labore inventore illum perferendis. Unde maxime modi asperiores animi impedit
      delectus, quod explicabo necessitatibus rerum dolorum minima blanditiis? Ducimus magnam saepe rerum. Quia error,
      totam fugit aliquam qui expedita. Fugit, velit corporis adipisci nam illo harum! Voluptatem tempora iure dolor
      consectetur consequatur, magnam illo ex sit corporis quisquam distinctio nemo numquam debitis excepturi laboriosam
      voluptate suscipit quidem dolorem, molestias facilis officiis! Quisquam, corporis assumenda, voluptatibus aliquam
      soluta accusantium error, amet illo vero qui suscipit accusamus iusto beatae necessitatibus facilis minima!
      Dignissimos, laborum maxime? Minima veniam unde odio nihil ab enim asperiores ex. Expedita ex est veritatis. Dicta
      quos officiis iusto in, dignissimos obcaecati pariatur eligendi debitis nemo perspiciatis, blanditiis suscipit
      deleniti mollitia ex itaque cum quod corrupti excepturi expedita veritatis voluptatibus voluptas fugit. Quae
      magnam officiis totam numquam, nulla ut corrupti minima quo, dicta vero pariatur eveniet fugit repudiandae laborum
      earum incidunt tempore obcaecati ullam maxime exercitationem aut qui! Nemo repellat corporis inventore consequatur
      dolorum, voluptatibus molestiae! Suscipit maxime, quam placeat voluptatibus repudiandae, error provident, iure
      impedit iste nostrum vero sapiente recusandae earum aut laudantium ullam numquam. Nam asperiores natus esse,
      doloremque veniam quisquam beatae impedit atque dicta eius, sit delectus molestiae eos vel doloribus perspiciatis
      enim voluptas! Officiis harum placeat culpa dicta. </p>
  </div>
  <hr>
  <div>
    <h3>Comments</h3>
    <p>Nice One !!!</p>
  </div>
</div>
