.navbar{
  background-color: tomato;
  height: 65px;
  position: fixed;
  z-index: 100;
  width: 100%;
}
.logo{
  width: 55px;
  height: 55px;
  border-radius: 40px;
}
.nav-link{
  padding: 22px 30px 19px 30px;
  color: black;
  font-family: cursive;
  font-weight: bold;
}

.nav-link:hover{
  background-color: rgba(240, 57, 25, 0.801);
  color: blueviolet;
}
.right-nav{
  position: absolute;
  right: 64px;
}
