<nav class="navbar navbar-expand-md px-5">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/"
      ><img class="logo" src="../../assets/images/starLogo.jpg" alt=""
    /></a>
    <div class="navbar-collapse" id="navbar-div">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="ul-list" (click)="hideUl()">
        <li class="nav-item li-block res-li">
          <a class="nav-link" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            >STARWEBS</a
          >
        </li>
        <li class="nav-item li-non">
          <a class="nav-link" routerLink="/tutorials" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
            >Tutorials <i class="fas fa-caret-down fa-lg"></i>
          </a>
          <ul class="sub_tut_ul">
            <li class="nav-item1"><a routerLink="/tutorials/angular" class="nav-link1">ANGULAR</a></li>
            <li class="nav-item1"><a routerLink="/tutorials/html" class="nav-link1">HTML</a></li>
            <li class="nav-item1"><a routerLink="/tutorials/css" class="nav-link1">CSS</a></li>
            <li class="nav-item1"><a routerLink="/tutorials/javascript" class="nav-link1">JAVASCRIPT</a></li>
          </ul>
        </li>
        <li class="nav-item li-non">
          <a class="nav-link" routerLink="/blogs" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Blogs</a>
        </li>
        <li class="nav-item li-non">
          <a class="nav-link" href="#about">About</a>
        </li>
        <li class="nav-item li-non">
          <a class="nav-link" routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Contact</a>
        </li>
      </ul>
        <div class="li-block seach-div">
          <input
            type="text"
            placeholder="Search here!!"
            aria-label="Search"
            class="form-control mr-3 res-input"
          />
        </div>
      <!-- <div class="auth-div">
        <button class="btn btn-secondary mx-1 li-non">Sign Up</button>
        <button class="btn btn-primary li-non">Login</button>
      </div> -->
      <div class="toggler">
        <span (click)="toggleBar()" *ngIf="showIcon">
          <i id="icon-bar" class="icon fas fa-bars"></i>
        </span>
        <span (click)="closeBar()" *ngIf="crossIcon">
          <i class="icon cross fas fa-times"></i>
        </span>
      </div>
    </div>
  </div>
</nav>
