<div class="container">
  <h1 class="text-center pt-3 pb-2">All Tutorials</h1>
  <div class="d-flex">
    <hr class="hr1">
    <hr class="hr2">
    <hr class="hr3">
  </div>
  <h4 class="pb-2">Learn From Zero To Advanced</h4>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col my-2 px-3 card-div" routerLink="/tutorials/angular">
      <div class="card">
        <img src="../../assets/images/tutorials/angular.jpg" class="card-img-top tut-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Learn ANGULAR</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col my-2 px-3 card-div" routerLink="/tutorials/html">
      <div class="card">
        <img src="../../assets/images/tutorials/html.jpg" class="card-img-top tut-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Learn HTML</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col my-2 px-3 card-div" routerLink="/tutorials/css">
      <div class="card">
        <img src="../../assets/images/tutorials/css.jpg" class="card-img-top tut-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Learn CSS</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col my-2 px-3 card-div" routerLink="/tutorials/javascript">
      <div class="card">
        <img src="../../assets/images//tutorials/javascript.jpg" class="card-img-top tut-img" alt="...">
        <div class="card-body">
          <h5 class="card-title">Learn JAVASCRIPT</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
  </div>
</div>
